# Web App Files
web/count.txt
web/frontend
web/logs/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE Files
.idea/
.vscode/

# Flask Stuff
instance/
.webassets-cache

# Others
*.log
*.manifest
*.spec
MANIFEST
.Python
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
