{% extends "sfw/base.html" %}

{% block title %}
{{ web_title }}
{% endblock %}

{% block pins_title %}
Pinned
{% endblock %}

{% block content %}

{% if picsum_usage == True %}
<!-- From PICSUM API -->
<h2>PICSUM</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_image in picsum_url_list %}
            <figure>
                <img src="{{ one_image }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

{% if tenor_usage == True %}
<!-- From Imgur API -->
<h2>Imgur</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in tenor_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}



<!-- From GIPHY API -->
{% if giphy_usage == True %}
<h2>GIPHY</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in giphy_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

{% if thecatapi_usage == True %}
<!-- From TheCatAPI API -->
<h2>TheCatAPI</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in thecatapi_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

{% if dogceo_usage == True %}
<!-- From Dog.CEO API -->
<h2>Dog.CEO</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in dogceo_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

{% if nekoslife_usage == True %}
<!-- From Nekos Life API -->
<h2>Anime - Nekos Life</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_image in nekoslife_url_list %}
            <figure>
                <img src="{{ one_image }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}



<!-- Links Page -->
{% if all_links_page == True %}
<h1>Links - SFW</h1>
<ul>
    <li>
        <h2>
            <a href="{{ url_for('index') }}">
                /
            </a>
            --> Home page
        </h2>
    </li>
    <li>
        <h2>
            <a href="{{ url_for('pins') }}">
                /pins
            </a>
            --> All available pins
        </h2>
    </li>
    <li>
        <h2>
            <a href="{{ url_for('search', query='random') }}">
                /search
            </a>
            --> Search anything
        </h2>
    </li>
</ul>

<h1>Links - NSFW</h1>
<ul>
    <li>
        <h2>
            <a href="{{ url_for('restricted') }}">
                /restricted
            </a>
            --> Adult content home page
        </h2>
    </li>
    <li>
        <h2>
            <a href="{{ url_for('adult_pins') }}">
                /adult/pins
            </a>
            --> All available pins for adult content
        </h2>
    </li>

    <li>
        <h2>
            <a href="{{ url_for('adult_categories') }}">
                /adult/categories
            </a>
            --> All available categories for adult content
        </h2>
    </li>

    <li>
        <h2>
            <a href="{{ url_for('adult_stars_no_page') }}">
                /adult/stars
            </a>
            --> All available adult content creators (over 20K +)
        </h2>
    </li>
    <li>
        <h2>
            <a href="{{ url_for('adult_stars_no_page') }}">
                /adult/hentai
            </a>
            --> Best hentai content (BETA)
        </h2>
    </li>

    <li>
        <h2>
            <a href="{{ url_for('adult_search', query='random') }}">
                /adult/search
            </a>
            --> Search any adult content
        </h2>
    </li>
</ul>


<h1>Links - Others</h1>
<ul>
    <li>
        <h2>
            <a href="https://github.com/hirusha-adi/GifGang">
                Source Code
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a href="https://github.com/hirusha-adi/GifGang/blob/main/LICENSE">
                License
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a href="https://github.com/hirusha-adi/GifGang/blob/main/PRIVACY-POLICY.md">
                Privacy Policy
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a href="https://github.com/hirusha-adi/GifGang/blob/main/CREDITS.md">
                Credits
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a href="https://github.com/hirusha-adi/GifGang/blob/main/web/CHANGELOG.md">
                Changelog
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a href="https://github.com/hirusha-adi/GifGang/blob/main/TODO.md">
                To-Do List
            </a>
        </h2>
    </li>
</ul>

<h1>Links - Admin</h1>
<ul>
    <li>
        <h2>
            <a href="{{ url_for('admin_panel_page') }}">
                Admin Dashboard
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a href="{{ url_for('admin_settings') }}">
                Admin Settings
            </a>
        </h2>
    </li>
</ul>


{% endif %}

<!-- Search -->
{% if search_gifgang_usage == True %}

<!-- From theCatAPI -->
{% if search_thecatapi_usage == True %}
<h2>TheCatAPI</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in search_thecatapi_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From dogCEO API -->
{% if search_dogceo_usage == True %}
<h2>Dog.CEO</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in search_dogceo_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From Nekos.Life API -->
{% if search_nekoslife_usage == True %}
<h2>Nekos.Life</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in search_nekoslife_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From GIPHY API -->
{% if search_giphy_usage == True %}
<h2>GIPHY</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in search_giphy_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From Tenor API -->
{% if search_tenor_usage == True %}
<h2>Tenor</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in search_tenor_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

{% endif %}

<!-- Stats -->
{% if show_gifgang_stats == True %}
<br>
<br>
<h1 id="count" style="text-align: center; font-size: 60px">{{ request_count }}</h1>
<h2 style="text-align: center; font-size: 35px">Total Requests</h2>
<br>
<br>
{% endif %}


{% endblock %}