<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | GifGang</title>

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- Primary Meta Tags -->
    <meta name="title" content="GifGang">
    <meta name="description" content="a website with Gifs, Images and Videos scraped from many websites at one place!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://gifgang.net/">
    <meta property="og:title" content="GifGang">
    <meta property="og:description"
        content="a website with Gifs, Images and Videos scraped from many websites at one place!">
    <meta property="og:image" content="{{ url_for('static', filename='img/GifGangRound.png') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://gifgang.net/">
    <meta property="twitter:title" content="GifGang">
    <meta property="twitter:description"
        content="a website with Gifs, Images and Videos scraped from many websites at one place!">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/GifGangRound.png') }}">

</head>

<body>

    <div id="login-button">
        <img src="https://cdn.discordapp.com/attachments/945257357867380747/968537096207876166/unknown.png">
        </img>
    </div>

    <div id="container">
        <h1>Log In</h1>
        <span class="close-btn">
            <img src="https://cdn.discordapp.com/attachments/945257357867380747/968537153187504248/unknown.png"></img>
        </span>

        <form action="{{ url_for('admin_login_page_verify') }}" method="POST" id="adminLoginForm">
            <input type="email" name="uname" id="uname" placeholder="Username">
            <input type="password" name="pass" id="pass" placeholder="Password">
            <span id="LoginButton">
                <a>Log in</a>
            </span>
            <div id="remember-container">
                <span id="forgotten" style="color: #ffffff; opacity: 0.7;">Forgotten password</span>
            </div>
        </form>
    </div>

    <!-- Forgotten Password Container -->
    <div id="forgotten-container">
        <h1>Forgotten</h1>
        <span class="close-btn">
            <img src="https://cdn.discordapp.com/attachments/945257357867380747/968537153187504248/unknown.png"></img>
        </span>

        <h2
            style="text-align: center; font-family: 'Open Sans Condensed', sans-serif; color: #ddd; text-shadow: 3px 3px 10px #000;">
            Written on the wall. Please refer and try again
        </h2>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/admin_login.js') }}"></script>

</body>

</html>