{% extends "adult_base.html" %}

{% block title %}
{{ web_title }}
{% endblock %}

{% block pins_title %}
Main Pins
{% endblock %}

{% block content %}

<!-- Pinned Content List Starts Here -->
<div class="related-terms-container">

    <h2 class="related-title">{{ title_of_body }}</h2>

    <div class="Carousel tags">
        <div class="frames-container" style="left:-0px;">

            {% for one_obj in all_body_list %}
            <!-- Iterate through all pins -->
            <div class="TrendsTag">
                <a activeClassName="current" href="{{ url_for('adult_search', query=one_obj.name) }}">
                    <div class="img" style='background-image: url("{{ one_obj.img }}")'>
                    </div>
                    <div class="info">
                        <span class="searchterm">
                            {{ one_obj.name }}
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
<!-- Pinned Content List Ends Here -->

{% endblock %}