{% extends "adult_base.html" %}

{% block title %}
{{ web_title }}
{% endblock %}

{% block pins_title %}
Pinned
{% endblock %}

{% block content %}

<!-- From GIPHY API -->
{% if giphy_usage == True %}
<h2>GIPHY</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in giphy_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}


{% endblock %}