<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        @font-face {
            font-family: 'Calluna';
            src: url("{{ url_for('static', filename='fonts/callunasansregular-webfont.woff') }}") format('woff');
        }

        #pinno1 {
            background-image: url("{{ url_for('static', filename='img/main_pins/anime.jpg') }}");
        }

        #pinno2 {
            background-image: url("{{ url_for('static', filename='img/main_pins/cat.jpg') }}");
        }

        #pinno3 {
            background-image: url("{{ url_for('static', filename='img/main_pins/dog.png') }}");
        }

        #pinno4 {
            background-image: url("{{ url_for('static', filename='img/main_pins/women.jpg') }}");
        }

        #pinno5 {
            background-image: url("{{ url_for('static', filename='img/main_pins/pin.jpg') }}");
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">

</head>

<body>
    <script async type="text/javascript" src="{{ url_for('static', filename='js/main.min.js') }}"></script>

    <div id="root">
        <div class="BaseApp">

            <!-- Search Bar -->
            <div class="TopBarComponent TopSearchBar">
                <div class="TopBar">
                    <div class="container">
                        <div class="search-bar-wrapper">
                            <form class="SearchBar"><input name="q" value="" placeholder="Search for Images and GIFs"
                                    autocomplete="off"><span class="iconfont-search" aria-hidden="true"></span></form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Starts Here -->
            <div id="view">
                <div class="FeaturedPage">
                    <span></span>
                    <div class="container page">
                        <div class="related-terms-container">

                            <!-- Pinned Content List -->
                            <!-- only 3 will be displayed on mobile -->
                            <!-- all 5 will be displayed on desktop -->
                            <h2 class="related-title">Pinned</h2>

                            <div class="Carousel tags">
                                <div class="carousel-container TagList">
                                    <div class="frames-container" style="left:-0px;">

                                        <!-- Pin No.5 -->
                                        <div class="TrendsTag"><a activeClassName="current"
                                                href="{{ url_for('pins') }}">
                                                <div class="img" id="pinno5">
                                                </div>
                                                <div class="info"><span class="searchterm">
                                                        View All Pins
                                                    </span>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Pin No.1 -->
                                        <div class="TrendsTag"><a activeClassName="current" href="/search/moon-gifs">
                                                <div class="img" id="pinno1">
                                                </div>
                                                <div class="info">
                                                    <span class="searchterm">
                                                        Anime
                                                    </span>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Pin No.2 -->
                                        <div class="TrendsTag"><a activeClassName="current"
                                                href="/search/bridgerton-gifs">
                                                <div class="img" id="pinno2">
                                                </div>
                                                <div class="info">
                                                    <span class="searchterm">
                                                        Cats
                                                    </span>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Pin No.3 -->
                                        <div class="TrendsTag"><a activeClassName="current" href="/search/duke-gifs">
                                                <div class="img" id="pinno3">
                                                </div>
                                                <div class="info">
                                                    <span class="searchterm">
                                                        Dogs
                                                    </span>
                                                </div>
                                            </a>
                                        </div>


                                        <!-- Pin No.4 -->
                                        <div class="TrendsTag"><a activeClassName="current"
                                                href="/search/happy-mothers-day-gifs">
                                                <div class="img" id="pinno4">
                                                </div>
                                                <div class="info">
                                                    <span class="searchterm">
                                                        Women
                                                    </span>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- From GIPHY API -->
                        {% if giphy_usage == True %}
                        <h2>GIPHY</h2>

                        <div class="homepage">
                            <div class="center-container featured">

                                <div id="columns">

                                    {% for one_gif in giphy_url_list %}
                                    <figure>
                                        <img src="{{ one_gif['url'] }}">
                                        <figcaption>{{ one_gif['title'] }}</figcaption>
                                    </figure>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                        {% endif %}

                        {% if picsum_usage == True %}
                        <!-- From PICSUM API -->
                        <h2>PICSUM</h2>

                        <div class="homepage">
                            <div class="center-container featured">

                                <div id="columns">

                                    {% for one_image in picsum_url_list %}
                                    <figure>
                                        <img src="{{ one_image }}">
                                    </figure>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                        {% endif %}

                        {% if tenor_usage == True %}
                        <!-- From Imgur API -->
                        <h2>Imgur</h2>

                        <div class="homepage">
                            <div class="center-container featured">

                                <div id="columns">

                                    {% for one_gif in tenor_url_list %}
                                    <figure>
                                        <img src="{{ one_gif['url'] }}">
                                        <figcaption>{{ one_gif['title'] }}</figcaption>
                                    </figure>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                        {% endif %}

                        {% if imgur_usage == True %}
                        <!-- From Imgur API -->
                        <h2>Imgur</h2>

                        <div class="homepage">
                            <div class="center-container featured">

                                <div id="columns">

                                    {% for one_image in imgur_url_list %}
                                    <figure>
                                        <img src="{{ one_image }}">
                                    </figure>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                        {% endif %}

                        <!-- Credits -->
                        <small>
                            Made by &copy;
                            <a href="http://hirusha.xyz">
                                Hirusha Adikari
                            </a>
                        </small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>