<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        @font-face {
            font-family: 'Calluna';
            src: url("{{ url_for('static', filename='fonts/callunasansregular-webfont.woff') }}") format('woff');
        }

        #sampletestshitidk {
            background-image: url("{{ url_for('static', filename='img/index/anime.jpg') }}");
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">

</head>

<body>
    <script async type="text/javascript" src="{{ url_for('static', filename='js/main.min.js') }}"></script>

    <div id="root">
        <div class="BaseApp">

            <!-- Search Bar -->
            <div class="TopBarComponent TopSearchBar">
                <div class="TopBar">
                    <div class="container">
                        <div class="search-bar-wrapper">
                            <form class="SearchBar"><input name="q" value="" placeholder="Search for Images and GIFs"
                                    autocomplete="off"><span class="iconfont-search" aria-hidden="true"></span></form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Starts Here -->
            <div id="view">
                <div class="FeaturedPage">
                    <span></span>
                    <div class="container page">

                        <!-- Pinned Content List Starts Here -->

                        <div class="related-terms-container">

                            <h2 class="related-title">Pinned</h2>

                            <div class="Carousel tags">
                                <div class="frames-container" style="left:-0px;">

                                    {% for one_obj in all_pins_list %}
                                    <!-- Pin No.1 -->
                                    <div class="TrendsTag"><a activeClassName="current" href="{{ one_obj.url }}">
                                            <div class="img" style='background-image: url("{{ one_obj.img }}")'>
                                            </div>
                                            <div class="info">
                                                <span class="searchterm">
                                                    {{ one_obj.name }}
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}

                                    <!-- Pin No.2 -->
                                    <div class="TrendsTag"><a activeClassName="current" href="/search/bridgerton-gifs">
                                            <div class="img" style='background-image: url("{{ beach_image }}")'>
                                            </div>
                                            <div class="info">
                                                <span class="searchterm">
                                                    Beach
                                                </span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- Pinned Content List Ends Here -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>