{% extends "base.html" %}

{% block title %}
{{ web_title }}
{% endblock %}

{% block content %}

<!-- From theCatAPI -->
{% if thecatapi_usage == True %}
<h2>TheCatAPI</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in thecatapi_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From dogCEO API -->
{% if dogceo_usage == True %}
<h2>Dog.CEO</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in dogceo_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From Nekos.Life API -->
{% if nekoslife_usage == True %}
<h2>Dog.CEO</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in nekoslife_url_list %}
            <figure>
                <img src="{{ one_gif }}">
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From GIPHY API -->
{% if giphy_usage == True %}
<h2>GIPHY</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in giphy_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

<!-- From Tenor API -->
{% if tenor_usage == True %}
<h2>Tenor</h2>

<div class="homepage">
    <div class="center-container featured">

        <div id="columns">

            {% for one_gif in tenor_url_list %}
            <figure>
                <img src="{{ one_gif['url'] }}">
                <figcaption>{{ one_gif['title'] }}</figcaption>
            </figure>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %}

{% endblock %}