{% extends "torrents/base.html" %}

{% block title %}
{{ web_title }}
{% endblock %}


{% block more_head %}
<style type="text/css">
    .tg  {
        border-collapse:collapse;
        border-spacing:0;
    }
    .tg td{
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
    }
    .tg th{
        font-family:Arial, sans-serif;
        font-weight:bolder;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
    }
    .tg .tg-0pky{
        text-align:left;
        vertical-align:top;
        font-size: 18px
    }
    table, th, td {
        border: 1px solid #585858;
    }
      
    table {
        width: 100%;
    }

    .dlbutton {
        background-color: #0483aa;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        border-radius: 24px;
      }
    
      @media only screen and (max-width: 600px) {
        .tg-0pky {
            font-size: 16px;
        }
      }
        
</style>
{% endblock %}


{% block pins_title %}
Pinned
{% endblock %}


{% block content %}

<!-- Index Torrents Page -->
{% if show_torrents_index == True %}
<br>
<center>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-0pky">Name</th>
            <th class="tg-0pky">Size</th>
            <th class="tg-0pky">SE</th>
            <th class="tg-0pky">LE</th>
            <th class="tg-0pky">Download</th>
        </tr>
        </thead>
        <tbody>
            {% for torrent_dict in torrents_list %}
                <tr>
                    <td class="tg-0pky">{{ torrent_dict.title }}</td>
                    <td class="tg-0pky" style="text-align:center;">{{ torrent_dict.size }}</td>
                    <td class="tg-0pky" style="text-align:center;">{{ torrent_dict.se }}</td>
                    <td class="tg-0pky" style="text-align:center;">{{ torrent_dict.le }}</td>
                    <td class="tg-0pky" style="text-align:center;">
                        <button class="dlbutton">
                            <i class="fa-solid fa-download" style="color: white; background: #0483aa;"></i>
                            Download
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
<br>
<br>
{% endif %}


{% endblock %}