{% extends "torrents/base.html" %}

{% block title %}
{{ web_title }}
{% endblock %}


{% block more_head %}
<style>
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}
.dlbutton {
    background-color: #0483aa;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 24px;
  }
</style>
{% endblock %}


{% block pins_title %}
Pinned
{% endblock %}


{% block content %}

<!-- Index Torrents Page -->
{% if show_torrents_index == True %}
<br>
<center>
    <h1>All Torrents</h1>
<table class="rwd-table">
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>SE</th>
    <th>LE</th>
  </tr>

  {% for torrent_dict in torrents_list %}
  <tr>
    <td data-th="Movie Title">{{ torrent_dict.title }}</td>
    <td data-th="Genre">{{ torrent_dict.size }}</td>
    <td data-th="Year">{{ torrent_dict.se }}</td>
    <td data-th="Gross">{{ torrent_dict.le }}</td>
  </tr>
  {% endfor %}
</table>

<p>&larr; Drag window (in editor or full page view) to see the effect. &rarr;</p>
</center>
<br>
<br>
{% endif %}


{% endblock %}