<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ web_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/libs/bootstrap3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/discord_index.css') }}" rel="stylesheet">


    <!-- Primary Meta Tags -->
    <meta name="title" content="GifGang">
    <meta name="description" content="a website with Gifs, Images and Videos scraped from many websites at one place!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://gifgang.net/">
    <meta property="og:title" content="GifGang">
    <meta property="og:description"
        content="a website with Gifs, Images and Videos scraped from many websites at one place!">
    <meta property="og:image" content="{{ url_for('static', filename='img/GifGangRound.png') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://gifgang.net/">
    <meta property="twitter:title" content="GifGang">
    <meta property="twitter:description"
        content="a website with Gifs, Images and Videos scraped from many websites at one place!">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/GifGangRound.png') }}">
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">
                    <font size="6" face="icomoon"></font>
                </a>
                <a class="navbar-brand" href="#home">
                    <font size="4">GifGang</font>
                </a>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{{ url_for('discord_join_server') }}">Invite</a>
                    </li>
                    <li>
                        <a href="{{ url_for('discord_view_help') }}">Commands / Help</a>
                    </li>
                    <li>
                        <a href="{{ url_for('all_links') }}">All Pages</a>
                    </li>
                    <li>
                        <a href="{{ url_for('index') }}">Main Site</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Pins <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="features">
                            <li><a href="#home">Start</a></li>
                            <li><a href="#general">General</a></li>
                            <li><a href="#sfw">SFW</a></li>
                            <li><a href="#nsfw">NSFW</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <!-- Header -->
    <a id="home"></a>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>GifGang's Discord Bot</h1>
                <p>
                    GIFs and Images!
                    <br><br>
                    Type
                    <a href="{{ url_for('discord_view_help') }}" target="_blank" rel="noopener noreferrer">
                        <code>.help</code>
                    </a>
                    to see the commands!
                </p>
                <a href="{{ url_for('discord_join_server') }}" class="btn btn-primary btn-lg">Join Discord Server</a>
                <br>
                <br>
                <a href="{{ url_for('discord_view_help') }}" class="btn btn-primary btn-lg">View Help</a>
            </div>
        </div>
    </header>

    <!-- Other - Body -->
    <a id="general"></a>
    <div class="feature">
        <div class="feature-content container">
            <div class="row">
                <div class="col-sm-7">
                    <h1>General</h1>
                    <p>
                        General commands regarding the bot
                    </p>
                    <p>
                        Display basic information regarding the discord bot
                    </p>
                </div>
                <div class="col-sm-5">
                    <img src="https://cdn.discordapp.com/attachments/957630505086517308/975789560061640714/unknown.png">
                </div>
            </div>
        </div>
    </div>

    <a id="sfw"></a>
    <div class="feature">
        <div class="feature-content container">
            <div class="row">
                <div class="col-sm-7">
                    <h1>SFW!</h1>
                    <p>
                        Safe For Work commands covering APIs of
                        <code>
                            <a href="https://giphy.com/" target="_blank" rel="noopener noreferrer">
                                Giphy
                            </a>
                        </code>,
                        <code>
                            <a href="https://picsum.photos/" target="_blank" rel="noopener noreferrer">
                                Picsum
                            </a>
                        </code>,
                        <code>
                            <a href="https://tenor.com/" target="_blank" rel="noopener noreferrer">
                                Tenor
                            </a>
                        </code>,
                        <code>
                            <a href="https://cataas.com/#/" target="_blank" rel="noopener noreferrer">
                                Cat As A Service
                            </a>
                        </code>,
                        <code>
                            <a href="https://thecatapi.com/" target="_blank" rel="noopener noreferrer">
                                The Cat API
                            </a>
                        </code>
                    </p>
                </div>
                <div class="col-sm-5">
                    <img src="https://cdn.discordapp.com/attachments/957630505086517308/975790658843455538/unknown.png">
                </div>
            </div>
        </div>
    </div>

    <a id="nsfw"></a>
    <div class="feature">
        <div class="feature-content container">
            <div class="row">
                <div class="col-sm-7">
                    <h1>NSFW</h1>
                    <p>
                        Not Safe For Work commands covering APIs of
                        <code>
                            <a href="https://redtube.com/" target="_blank" rel="noopener noreferrer">
                                Red Tube
                            </a>
                        </code>,
                        <code>
                            <a href="https://eporner.com/" target="_blank" rel="noopener noreferrer">
                                E-Porner
                            </a>
                        </code>
                    </p>
                </div>
                <div class="col-sm-5">
                    <img src="https://cdn.discordapp.com/attachments/957630505086517308/975791510647898132/unknown.png">
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/libs/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/discord_index.js') }}"></script>
</body>

</html>