<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">

    <title>404 - Page Not Found | GifGang</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="GifGang">
    <meta name="description" content="a website with Gifs, Images and Videos scraped from many websites at one place!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://gifgang.net/">
    <meta property="og:title" content="GifGang">
    <meta property="og:description"
        content="a website with Gifs, Images and Videos scraped from many websites at one place!">
    <meta property="og:image" content="{{ url_for('static', filename='img/GifGangRound.png') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://gifgang.net/">
    <meta property="twitter:title" content="GifGang">
    <meta property="twitter:description"
        content="a website with Gifs, Images and Videos scraped from many websites at one place!">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/GifGangRound.png') }}">


</head>

<body>

    <body>
        <section id="not-found">
            <div id="title">404 &bull; Not Found &bull; GifGang</div>
            <div class="circles">
                <p>404<br>
                    <small>PAGE NOT FOUND</small>
                </p>
                <span class="circle big"></span>
                <span class="circle med"></span>
                <span class="circle small"></span>
            </div>
        </section>
    </body>

</body>

</html>